img{
    cursor: crosshair;
    filter: grayscale(1);
    transition: filter 0.5s;
}
img:hover {
    filter: grayscale(0);
}
h1:hover{
    filter: blur(1px);
    text-align: center;
}
h1 {
text-align: center;
}
img+img{
   transform: scale(1) rotate3d(1, 1, 1, 0deg);
   transition: all 1s;
  
}
img+img:hover{
    transform: scale(2) rotate3d(1, 1, 1, 360deg);
}